[rnz-education]
title 				= Education | RNZ
description 		= Posts in the education tag for RNZ.
base 				= https://www.rnz.co.nz
url 				= https://www.rnz.co.nz/tags/education
containerSelector 	= div.list-format--wide
itemSelector 		= div.o-digest
titleSelector 		= h3
descriptionSelector = div.o-digest__summary
linkSelector 		= a.u-blocklink__overlay-link
dateSelector 		= .o-kicker

[rnz-employment]
title 				= Employment | RNZ
description 		= Posts in the employment tag for RNZ.
base 				= https://www.rnz.co.nz
url 				= https://www.rnz.co.nz/tags/employment
containerSelector 	= div.list-format--wide
itemSelector 		= div.o-digest
titleSelector 		= h3
descriptionSelector = div.o-digest__summary
linkSelector 		= a.u-blocklink__overlay-link
dateSelector 		= .o-kicker

[rnz-climate]
title 				= Climate | RNZ
description 		= Posts in the climate tag for RNZ.
base 				= https://www.rnz.co.nz
url 				= https://www.rnz.co.nz/tags/climate
containerSelector 	= div.list-format--wide
itemSelector 		= div.o-digest
titleSelector 		= h3
descriptionSelector = div.o-digest__summary
linkSelector 		= a.u-blocklink__overlay-link
dateSelector 		= .o-kicker

[rnz-science]
title 				= Science | RNZ
description 		= Posts in the science tag for RNZ.
base 				= https://www.rnz.co.nz
url 				= https://www.rnz.co.nz/tags/science
containerSelector 	= div.list-format--wide
itemSelector 		= div.o-digest
titleSelector 		= h3
descriptionSelector = div.o-digest__summary
linkSelector 		= a.u-blocklink__overlay-link
dateSelector 		= .o-kicker

[nzctu-media]
title 				= NZCTU | Media Releases
description 		= New Zealand Council of Trade Unions media releases.
base 				= https://union.org.nz
url 				= https://union.org.nz/category/media-releases/
containerSelector 	= main#main
itemSelector 		= article
titleSelector 		= h2
descriptionSelector = div.article-info > p
linkSelector 		= a.featured-link
dateSelector 		= p.byline

[nzctu-economic-bulletin]
title 				= NZCTU | Economic Bulletin
description 		= New Zealand Council of Trade Unions economic bulletin.
base 				= https://union.org.nz
url 				= https://union.org.nz/category/economic-bulletin/
containerSelector 	= main#main
itemSelector 		= article
titleSelector 		= h2
descriptionSelector = div.article-info > p
linkSelector 		= a.featured-link
dateSelector 		= p.byline

[nzei]
title 				= NZEI
description 		= NZEI | Media Releases
base 				= https://www.nzeiteriuroa.org.nz
url 				= https://www.nzeiteriuroa.org.nz/about-us/media-releases
containerSelector 	= ul.feed
itemSelector 		= li
titleSelector 		= h3
descriptionSelector = div.wysiwyg > p
linkSelector 		= a.feed-card
dateSelector 		= .date-label__text

[moe]
title 				= Ministry of Education
description 		= MoE | News
base				= https://www.education.govt.nz
url 				= https://www.education.govt.nz/news/
containerSelector	= div.article-list
itemSelector		= article
titleSelector		= h2
descriptionSelector	= div.description
linkSelector		= h2 > a
dateSelector		= time

[pspa]
title 				= PSA
description 		= PSA | News
base				= https://www.psa.org.nz
url 				= https://www.psa.org.nz/our-voice/#/news-and-media,campaigns
containerSelector	= div.masonry-row 
itemSelector		= .card
titleSelector		= h5
descriptionSelector	= p.card-text.small
linkSelector		= .card-footer > a
dateSelector		= .card-text.text-muted.small.text-uppercase.mb-1.meta
