[rnz-education]
title = Education | RNZ
description = Posts in the education tag for RNZ.
base = https://www.rnz.co.nz
url = https://www.rnz.co.nz/tags/education
containerSelector = div.list-format--wide
itemSelector = div.o-digest
titleSelector = h3
descriptionSelector = div.o-digest__summary
linkSelector = a.u-blocklink__overlay-link
dateSelector = .o-kicker

[rnz-employment]
title = Employment | RNZ
description = Posts in the employment tag for RNZ.
base = https://www.rnz.co.nz
url = https://www.rnz.co.nz/tags/employment
containerSelector = div.list-format--wide
itemSelector = div.o-digest
titleSelector = h3
descriptionSelector = div.o-digest__summary
linkSelector = a.u-blocklink__overlay-link
dateSelector = .o-kicker

[rnz-climate]
title = Climate | RNZ
description = Posts in the climate tag for RNZ.
base = https://www.rnz.co.nz
url = https://www.rnz.co.nz/tags/climate
containerSelector = div.list-format--wide
itemSelector = div.o-digest
titleSelector = h3
descriptionSelector = div.o-digest__summary
linkSelector = a.u-blocklink__overlay-link
dateSelector = .o-kicker

[rnz-science]
title = Science | RNZ
description = Posts in the science tag for RNZ.
base = https://www.rnz.co.nz
url = https://www.rnz.co.nz/tags/science
containerSelector = div.list-format--wide
itemSelector = div.o-digest
titleSelector = h3
descriptionSelector = div.o-digest__summary
linkSelector = a.u-blocklink__overlay-link
dateSelector = .o-kicker
